.blocklyFlyout {
    fill: #e8e8e8 !important;
    fill-opacity: 1 !important;
    position: absolute;
}

.blocklyFlyoutBackground {
    fill: #e8e8e8 !important;
    fill-opacity: 1 !important;
}

.blocklyMainBackground {
    stroke: none;
    fill-opacity: 1 !important;
    background-color: #e8e8e8 !important;
}

#blocklyDiv {
    width: 100%;
    height: 600px;
}